# Ignore Python cache files
**/__pycache__
**/*.pyc

# Ignore any local virtual environments or Poetry virtualenvs
.venv/
env/

# Ignore Docker-related files
Dockerfile
.dockerignore

# Ignore version control directories
.git/
.gitignore

README.md
setup.md

poetry.lock


